@page "/skills"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@using Demo.DataSource
@using PortfolioComponents.Models
@using PortfolioComponents.Skill
@using System.Text.Json
<PageTitle>Skills</PageTitle>
<h1 class="ma-2">Skills</h1>
<SkillList Skills="@_skills"></SkillList>

@code {
    private List<Skill>? _skills { get; set; }

    protected override void OnInitialized()
    {
        _skills = MySkills.GetSkills();
        base.OnInitialized();
    }
}
